<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>


<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Seja bem-vindo!</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum nulla erat, eu aliquet sem sagittis ut. Morbi nisl sem, dignissim nec turpis sit amet, consectetur viverra dolor. Nam et lacus id sapien tincidunt fringilla sed id arcu. Vestibulum in volutpat orci, vel eleifend nisl. Ut pellentesque ligula vel ipsum tincidunt, id placerat magna semper. Nullam eros ante, sagittis eu varius non, semper in velit. Aliquam erat volutpat. Fusce sollicitudin massa eu sagittis commodo. Pellentesque ut pretium libero. In volutpat elit quis eleifend sodales. Vivamus accumsan elementum felis, quis congue diam condimentum a. Curabitur aliquam risus sapien, ac convallis justo aliquet nec.
        </div>
      </div>
    </div>
  </div>
</div>

